@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

    <h2><b>Planteamiento del problema:</b></h2>
    <p>
        La problemática de la comunidad es que tiene poca oferta de
        Educación pública disponible, la cual no tiene la misma calidad
        Que los otros centros de formación de la zona, y acceder a ella es
        Difícil por factores económicos y de inseguridad.
        Problemas más importantes:
        Se identifican los puntos más relevantes para mitigar la problemática presenta realizando un mapa de empatía:
    </p>
    <ul>
        <li>La información no es de fácil acceso.</li>
        <li>Poca facilidad al buscar información educativa.</li>
        <li>Poca Flexibilidad en horarios</li>
        <li>Poca facilidad para pagos de educación</li>
        <li>Falta de recursos económicos.</li>
    </ul>
            <h2><b>A quien va dirigido:</b></h2>
        <p>
            El proyecto va dirigido a la Comunidad en general
            Quienes se involucran en el proyecto:
        </p>
        <ul>
            <li>Universidades
            <li>Asociaciones
            <li>Instituciones · JAC
            <li>Alcaldía local
            <li>Expertos
            <li>Icetex
        </ul>

        <h2><b>Alcance:</b></h2>
         <p>se pretende crear un aplicativo web, responsivo el cual permita dar a conocer información académica de jardines, 
             colegios, universidad información del estado y también de su localidad barrio o junta comunal, transmitiendo así 
             información a las personas para que estas puedan acceder a todo tipo de beneficios ofrecidos por diferentes entidades.
    </p>